body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 20%,
        #D8DBD5 20%
    );
}

.container {
    height: 90%;
    width: 100%;
}

/* CONTENT CHAT-LEFT */

.chat_left {
    height: 4rem;
}

.notific_desk {
    background-color: rgb(120, 172, 231);
}

.input_search {
    height: 2rem;
}

.user_profile img {
    width: 15%;
}

.slider_user {
    height: calc(100% - 168px);
    overflow-y: auto;
}

.slider_user img {
    width: 15%;
}

.text {
    font-size: 10px;
}

/* CONTENT CHAT RIGHT */

.content_chat {
    background-image: url("../img/mine.jpg");
    height: 100%;
    padding-left: 0;
}

.content_header {
    height: 4rem;
    background-color: #EAEAEA;
    border-left: 1px solid white;
    padding-inline: .5rem;

}

.discussion {
    height: calc(100% - 102px);
    padding-inline: 1rem;
    overflow-y: scroll;
}

.mess_sent {
    background-color: #d5f9ba;
    align-self: flex-end;
    max-width: 85%;
    padding: .5rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.mess_received {
    background-color: white;
    align-self: flex-start;
    max-width: 85%;
    padding: .5rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.bar_end {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}