body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 20%,
        #D8DBD5 20%
    );
}

.chat_left {
    height: 4rem;
}

.notific_desk {
    background-color: rgb(120, 172, 231);
}

.input_search {
    height: 2rem;
}

.user_profile img {
    width: 15%;
}

.slider_user {
    height: calc(100% - 168px);
    overflow-y: scroll;
}

.slider_user img {
    width: 15%;
}

.text {
    font-size: 10px;
}

.chat_right {
    background-image: url("../img/mine.jpg");
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.chat_msg {
    height: 70%;
    display: flex;
    justify-content: space-around;
}

.chat_white {
    background-color: #4af805b9;
}

.chat_green {
    background-color: white;
}

.controls {
    background-color: white;
}

.controls i {
    padding-inline: 1rem;
}

.controls input {
    width: 80%;
}